<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="payMapper">
	
	<resultMap type="Pay" id="payResultSet">
	
		<id property="payNo" column="PAY_NO"/>
		
		<!-- DB 일반 컬럼에 해당하는 필드와 컬럼을 작성  -->
		<result property="payTotalNo" column="PAY_TOTAL_NO"/>
		<result property="payTime" column="PAY_TIME"/>
		<result property="payDay" column="PAY_DAY"/>
		<result property="partMoney" column="PART_MONEY"/>
		<result property="vacaMoney" column="VACA_MONEY"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="storeNo" column="STORE_NO"/>
		<result property="memberName" column="MEMBER_NM"/>
	
	</resultMap>
	
	<select id="selectEmployeeList" parameterType="_int" resultMap="payResultSet">
		SELECT MEMBER_NM, MEMBER_NO
		FROM PAY
		JOIN MEMBER USING(MEMBER_NO)
		WHERE MEMBER_GRADE = 'G'
		AND MEMBER_STATUS = 'Y'
		AND STORE_NO = (SELECT STORE_NO FROM EMPLOYER WHERE EMPLOYER_NO = #{memberNo})
	
	</select>
	


</mapper>
