<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="personnelMapper">
	
	<resultMap id="memberResultSet" type="Member" >
		
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NM"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberEnrollDate" column="MEMBER_ENROLL_DT"/>
		<result property="memberGrade" column="MEMBER_GRADE"/>
		<result property="memberCheck" column="MEMBER_CHECK"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
	</resultMap>
	
	<resultMap type="Store" id="storeResultSet">
		<id property="storeNo" column="STORE_NO"/>
		<result property="storeName" column="STORE_NM"/>
		<result property="storePhone" column="STORE_PHONE"/>
		<result property="storeAddress" column="STORE_ADDR"/>
		<result property="storeBizNo" column="STORE_BIZ_NO"/>
		<result property="storeBizCheck" column="STORE_BIZ_CHECK"/>
		<result property="memberNo" column="MEMBER_NO"/>
	</resultMap>
	
	<resultMap type="Employee" id="employeeResultSet">			
		<result property="employeeNo" column="MEMBER_NO"/>
		<result property="storeNo" column="STORE_NO"/>
		<result property="sal" column="EMPLOYEE_SAL"/>
	</resultMap>
	
	<!-- 사장님 가게 번호 조회 -->
	<select id="selectStoreNo" parameterType="_int" resultType="_int">
		SELECT STORE_NO
		FROM STORE
		WHERE MEMBER_NO = #{memberNo}
	</select>

	
	<!-- 알바생 목록조회 -->
	<select id="selectList" parameterType="_int" resultMap="memberResultSet">
		SELECT * FROM V_EMPLOYEELIST
		WHERE STORE_NO = #{storeNo}
		ORDER BY MEMBER_NO DESC
	</select>
	
</mapper>
