<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper>
  <cache-ref namespace="boardMapper"/>
    
    
    <resultMap type="Store" id="storeResultSet">
	    <id property="storeNo" column="STORE_NO"/>
	    <result property="storeName" column="STORE_NM"/>
	    <result property="storePhone" column="STORE_PHONE"/>
	    <result property="storeAddress" column="STORE_ADDR"/>
	    <result property="storeBizNo" column="STORE_BIZ_NO"/>
	    <result property="storeBizCheck" column="STORE_BIZ_CHECK"/>
	    <result property="memberNo" column="MEMBER_NO"/>
	    <result property="memberName" column="MEMBER_NM"/>
	    <result property="memberEmail" column="MEMBER_EMAIL"/>
	    <result property="memberEnrollDate" column="MEMBER_ENROLL_DT"/>
	    <result property="memberStatus" column="MEMBER_STATUS"/>
  </resultMap>
  
  
  
  <!--  사장 회원 조회 -->
  <select id="storeList" resultMap="storeResultSet" parameterType="Store">
     SELECT MEMBER_NM, MEMBER_EMAIL, MEMBER_ENROLL_DT, STORE_NM, 
               TORE_PHONE, STORE_ADDR,MEMBER_STATUS
			FROM STORE
			JOIN MEMBER USING (MEMBER_NO);
  </select>
  
  
</mapper>






