<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper>
  <cache-ref namespace="boardMapper"/>
    
    
    <resultMap type="Board" id="boardResultSet">
     <id property="storeNo" column="STORE_NO"/>
        <result property="storeName" column="STORE_NO"/>
        <result property="storePhone" column="STORE_PHONE"/>
        <result property="storeAddress" column="STORE_ADDR"/>
        <result property="businessNo" column="STORE_BIZ_NO"/>
        <result property="businessStatus" column="STORE_BIZ_CHECK"/>
    
    </resultMap>
  
</mapper>
