<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
    
    
    <resultMap type="Store" id="storeResultSet">
	    <id property="storeNo" column="STORE_NO"/>
	    <result property="storeName" column="STORE_NM"/>
	    <result property="storePhone" column="STORE_PHONE"/>
	    <result property="storeAddress" column="STORE_ADDR"/>
	    <result property="storeBizNo" column="STORE_BIZ_NO"/>
	    <result property="storeBizCheck" column="STORE_BIZ_CHECK"/>
	    <result property="memberNo" column="MEMBER_NO"/>
	    <result property="memberName" column="MEMBER_NM"/>
	    <result property="memberEmail" column="MEMBER_EMAIL"/>
	    <result property="memberEnrollDate" column="MEMBER_ENROLL_DT"/>
	    <result property="memberStatus" column="MEMBER_STATUS"/>
	    <result property="memberPhone" column="MEMBER_PHONE"/>
  </resultMap>
  
  
  
  <resultMap type="CurrentSal" id="CurrentSalResultSet">
  	<result property="currentYear" column="CURRENT_YEAR"/>
  	<result property="currentMinSal" column="CURRENT_MIN_SAL"/>
  </resultMap>
  
  <resultMap type="NewsBoard" id="NewsBoardResultSet">
  	<id property="newsNo" column="NEWS_NO"/>
    <result property="createDate" column="CREATE_DATE"/>
    <result property="memberType" column="MEMBER_TYPE"/>
    <result property="title" column="TITLE"/>
    <result property="address" column="ADDRESS"/>
  
  
  </resultMap>
  
  
  <!--  사장 회원 조회 -->
  <select id="storeList" resultMap="storeResultSet" >
     SELECT MEMBER_NM, MEMBER_EMAIL, MEMBER_ENROLL_DT, STORE_NM, 
               STORE_PHONE, STORE_ADDR,MEMBER_STATUS
			FROM STORE
			JOIN MEMBER USING (MEMBER_NO)
  </select>
  
  <!-- 알바 회원 조회 -->
  <select id="employeeList" resultMap="storeResultSet">
      SELECT MEMBER_NM, MEMBER_EMAIL, MEMBER_ENROLL_DT, STORE_NM, 
                MEMBER_PHONE,MEMBER_STATUS
       FROM EMPLOYEE
      JOIN MEMBER USING (MEMBER_NO)
      JOIN STORE USING (STORE_NO)
  </select>
  
  <!-- 사장 인증 조회 -->
  <select id="confirmList" resultMap="storeResultSet">
      SELECT STORE_NO, STORE_NM, STORE_BIZ_NO, MEMBER_ENROLL_DT,STORE_BIZ_CHECK
       FROM STORE
      JOIN MEMBER USING (MEMBER_NO)
      ORDER BY STORE_NO DESC
       
  </select>
  
  
 
  
  <!-- 사장 회원 상세 조회 -->
  <select id="storeConfirm"  parameterType="_int" resultMap="storeResultSet">
		  	SELECT STORE_NO, MEMBER_NM, MEMBER_EMAIL, MEMBER_PHONE, STORE_NM,
				STORE_BIZ_NO,STORE_PHONE,STORE_ADDR,MEMBER_ENROLL_DT
				FROM STORE
				JOIN MEMBER USING (MEMBER_NO)
				WHERE STORE_NO = #{storeNo}
				AND MEMBER_STATUS = 'Y'
  </select>
  
  
   <!-- 사장 회원 사업자번호 인증 변경-->
    <update id="auth" parameterType="_int" >
      UPDATE STORE SET 
      STORE_BIZ_CHECK = 'Y'
      WHERE STORE_NO = #{storeNo}
  </update>
  
  
  <!-- 사장 회원 이메일 인증상태 변경-->
    <update id="auth2" parameterType="_int" >
      UPDATE MEMBER SET MEMBER_CHECK = 'Y' WHERE MEMBER_NO =(SELECT MEMBER_NO 
                                                             FROM MEMBER 
                                                             JOIN STORE USING (MEMBER_NO)
                                                             WHERE STORE_NO=#{storeNo})
  </update>
  
  
  <!-- 최저 시급 조회 -->
  <select id="selectSal" resultMap="CurrentSalResultSet">
  	SELECT* FROM CURRENT_SAL
  	ORDER BY CURRENT_YEAR DESC
  </select>
  
  <!-- 최저 시급 등록 -->
  <insert id="insertSal" parameterType="CurrentSal">
    INSERT INTO CURRENT_SAL VALUES(
       #{currentYear},#{currentMinSal}
    )
  </insert>
  
  <!-- 뉴스 정보 조회 -->
  <select id="selectNews" resultMap="NewsBoardResultSet">
  	SELECT * FROM NEWS_BOARD
  	ORDER BY NEWS_NO DESC
  </select>
  
  <!-- 뉴스 등록 -->
  <insert id="insertNews" parameterType="NewsBoard">
     INSERT INTO NEWS_BOARD VALUES(
      #{newsNo},SYSDATE,#{memberType},
      #{title},#{address}
      )
  </insert>
</mapper>






